<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="fas fa-cube me-2"></i>
            Кубизм
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">
                        <i class="fas fa-home me-1"></i>Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'o-we' in request.path %}active{% endif %}" href="/o-we/">
                        <i class="fas fa-info-circle me-1"></i>О нас
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>